.arrivals-container {
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: start !important;
  h3 {
    font-size: 2rem;
    font-weight: 900;
    color: rgba($color: #000000, $alpha: 0.5);
  }
  .toggler {
    align-self: flex-end !important;
    gap: 5px;
    margin-bottom: 50px;
    .toggle {
      height: 40px;
      width: 40px;
      font-size: 1.2rem;
      cursor: pointer;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
    }
    .btn-explore {
      width: 120px;
      height: 42px;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      background: transparent;
      cursor: pointer;
      font-size: 0.7rem;
      font-weight: 600;
    }
  }
  .wrapper {
    width: calc(100vw - 122px);
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    justify-content: start;
    .desktop {
      width: calc(49.5%);
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      img {
        width: 100%;
      }
    }
    .mobile {
      cursor: pointer;
      width: 320px;
      height: 400px;
      background: #eee !important;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      overflow: hidden;
      img {
        transition: 0.3s;
        width: 100%;
        height: 100%;
      }
    }
    .mobile:hover {
      img {
        scale: 1.1;
      }
    }
  }
}

@media (max-width: 800px) {
  .arrivals-container {
    align-items: center;
    .wrapper {
      justify-content: center;
    }
  }
}
